/*header*/
header{
    background-image: url(photo1.jpg);
    height: 600px;
}
header section{
    justify-content: space-between;
    display: flex;
}
header section nav{
    display: flex;
    margin-top: 0px;
    float:right;
}
header p{
    font-size: 20px;
}
header nav a{
    font-size: 40px;
    color: black;
    border-bottom: none;
    text-decoration:solid;
    margin-left: 20px;
}
.mod{
    text-align: center;
    margin-top: 150px;
}
.mod button{
    background-color: rgb(86, 168, 235);
    padding: 15px 40px;
    border-radius: 25px;
}
/* SECTION1 section */
.B{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.A{
    text-align: center;
    font-size: 30px;
}
.D{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 20px;
    
}
.E{
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
}
.F{
    display: flex;
    justify-content: center;
    
}
.card{
 margin: 30px;   
}
.G{
    text-align: center;
    font-family: sans-serif;
}


.I{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.J{
    text-align: center;
    font-family: sans-serif;
}
.K{
    display: flex;
}
.L{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.M{
    text-align: center;
    font-family: sans-serif;
}
/* Section footer */
footer{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.303);
}
.N{
    text-align: center;
    font-family: sans-serif;
    color: white;

}
.O{
    text-align: center;
}
.P{
    display: flex;
    justify-content:center;
    font-family: sans-serif;
    color: white;
    
}
.Z{
    background-color: black;
    padding-top: 45px;
}
.Y{
    font-size: 45px;
    color: blue;
}
.W{
    margin-left: 30px;
}